.btn-primary{
    font-weight: bold;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    background-color: #2cc768;
}
.container{
    padding-top: 25px;
    width: 80%;
    margin: auto;
}
body{
    background-color:#a09b9a;
}
.form-label{
    font-weight: bold
}

